body
  font-family: "Raleway"
  align-items: center
  position: relative
  background: $backgroundColor
  color: $textColor

  .contentContainer
    display: block
    width: $maxWidth
    margin: 5vh auto 5vh auto
    text-align: justify

  .horisontalList
    width: 100%
    margin: 0
    padding: 0
    display: table
    table-layout: fixed
    list-style: none

    .horisontalListItem
      display: table-cell
      padding: 1vh 1vw 1vh 1vw

  img
    width: 100%

  hr
    margin: 5vh 0 5vh 0

  h1, h2
    padding: 2vh 0 2vh 0
    margin: 0
    text-align: center

  a
    color: $linkColor
    text-decoration: none
